@import "react-image-gallery/styles/scss/image-gallery.scss";
.detail-info {
  .title {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 500;
    margin: 0;
    vertical-align: sub;
    max-height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
    max-width: 41.5625rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;
  }
  .count-box {
    display: flex;
    align-items: center;
    .count-title {
      color: #757575;
      width: 110px;
      text-transform: capitalize;
      flex-shrink: 0;
    }
  }
}

.image-gallery-slide.center {
  cursor: pointer;
}
.thumbnail-modal {
  border: 4px solid transparent;
}
.thumbnail-modal.active {
  border: 4px solid #337ab7;
}
.nav-slide {
  &:hover {
    color: #337ab7 !important;
    cursor: pointer;
  }
}
.ant-skeleton {
  width: 100% !important;
}
